{% extends "imagersite/layout.html" %}
{% block content %}
    <h1>This is your library view {{ user.username }}</h1>
    <p>Here you'll see all of your albums and photos.  Oh joy!</p>
    <p><a href="{% url 'photo_create' %}">Add a new Photo.</a></p>
    <p><a href="{% url 'album_create' %}">Add a new Album.</a></p>
    <h2>Albums:</h2>
    <div class="row">
        {% for album in all_albums %}
            {% include 'imager_images/single_album.html' %}
        {% endfor %}
    </div>
    <h2>Photos:</h2>
    <div class="row">
        {% for photo in all_photos %}
            {% include 'imager_images/single_photo.html' %}
        {% endfor %}
    </div>
{% endblock %}
